<link rel="stylesheet" href="/css/footer.css">

</style>
  
  <footer class="footer">
    <img class="footer-background" src="/image/footer1.jpg" alt="Fondo del footer">
    <div class="footer-content">
      <p>
        Copyright © Historiadelsiglo |
        <a href="politicas.html">Políticas de privacidad</a> |
        <a href="cookies.html">Cookies</a> |
        <a href="aviso-legal.html">Aviso legal</a> |
        <a href="mapa-del-sitio.html">Mapa del sitio</a>
      </p>
    </div>
  </footer>